.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG {
  
  
  
  
}
.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG .clearCatcher {
  fill-opacity: 0;
}
.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG .legend .navArrow {
  fill: #333333;
  cursor: pointer;
  
  stroke: #FFF;
  stroke-width: 2px;
}
.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG .data-labels {
  font-size: 12px;
  text-anchor: middle;
  font-family: helvetica, arial, sans-serif;
  pointer-events: none;
}
.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG p em {
  background: yellow;
  padding: 5px;
}
.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG .node {
  fill: #fff;
}
.visual-stakeholderMap99E9F31DDFD7429BACA50118466E4D11_DEBUG .textBody {
  font-size: 20px;
  font-weight: bold;
}
